<ion-header>
  <ion-toolbar color="danger">
    <ion-title>Error</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab vertical="center" horizontal="end" slot="fixed" [routerLink]="['/']" routerLinkActive="router-link-active">
    <ion-fab-button color="light">
      <strong>IR</strong>
      <ion-icon name="home"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-card class="ion-float-right card-logo">
    <img src="../../assets/imagenes/logo.png">
  </ion-card>

  <ion-card class="card-transparente">
    <ion-card-header>
      <ion-card-title color="light" class="ion-text-center">
        <h4><strong>Inconvenientes de conexión</strong></h4>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-text color="light" class="ion-text-justify">
        <h3>En este momento estamos impartiendo clases y no podemos atenderte, además, parece que nos hemos quedado sin
          conexión de red. </h3>
        <br>
        <h3>Si no quieres esperar a que se recupere llámanos al 984 49 16 15 y en cuanto veamos la llamada nos pondremos
          en contacto contigo. </h3>
        <br>
        <h3>Muchas gracias por tu visita. Hablamos muy pronto </h3>
        <br>
        <ion-chip outline color="light">
          <ion-icon name="logo-instagram"></ion-icon>
          <ion-label><strong>Instagram: globalpilatesgijon </strong></ion-label>
        </ion-chip>
        <ion-chip outline color="light">
          <ion-icon name="logo-facebook"></ion-icon>
          <ion-label><strong>Facebook: estudioglobalpilatesgijon </strong></ion-label>
        </ion-chip>
        <ion-chip outline color="light">
          <ion-icon name="globe"></ion-icon>
          <ion-label><strong>Web: globalpilatesgijon.es</strong></ion-label>
        </ion-chip>
      </ion-text>
    </ion-card-content>
  </ion-card>
</ion-content>