<!--<ion-content overflow-scroll="true"> -->
<ion-list>
  <ion-button class="center" size="small" (click)="ClosePop()">Cerrar</ion-button>
  <ion-text color="dark">
    <h2><strong>LOPD ! </strong></h2>
  </ion-text>
  <ion-card-content class="ion-text-justify">
    <ion-text color="dark">
      <p>En este momento estamos impartiendo clases, y no podemos atenderte. </p>
    </ion-text>
    <ion-text color="dark">
      <p>Lo sentimos mucho, pero si nos dejas tus datos de contacto, estaremos encantados de llamarte a la mayor
        brevedad posible, para atenderte todo lo bien que se merecen nuestros clientes y todas nuestras visitas.
      </p>
      <p>Lo sentimos mucho, pero si nos dejas tus datos de contacto, estaremos encantados de llamarte a la mayor
        brevedad posible, para atenderte todo lo bien que se merecen nuestros clientes y todas nuestras visitas.
      </p>
      <p>Lo sentimos mucho, pero si nos dejas tus datos de contacto, estaremos encantados de llamarte a la mayor
        brevedad posible, para atenderte todo lo bien que se merecen nuestros clientes y todas nuestras visitas.
      </p>
      <p>Lo sentimos mucho, pero si nos dejas tus datos de contacto, estaremos encantados de llamarte a la mayor
        brevedad posible, para atenderte todo lo bien que se merecen nuestros clientes y todas nuestras visitas.
      </p>
      <p>Lo sentimos mucho, pero si nos dejas tus datos de contacto, estaremos encantados de llamarte a la mayor
        brevedad posible, para atenderte todo lo bien que se merecen nuestros clientes y todas nuestras visitas.
      </p>
      <p>Lo sentimos mucho, pero si nos dejas tus datos de contacto, estaremos encantados de llamarte a la mayor
        brevedad posible, para atenderte todo lo bien que se merecen nuestros clientes y todas nuestras visitas.
      </p>
    </ion-text>
  </ion-card-content>
  <ion-button class="center" size="small" (click)="ClosePop()">Cerrar</ion-button>
</ion-list>