<!--<ion-content overflow-scroll="true"> -->
<ion-list>
  <ion-button class="center" size="small" (click)="ClosePop()">Cerrar</ion-button>
  <ion-text color="dark">
    <h1><strong>LOPD </strong></h1>
  </ion-text>
  <!--<iframe src="https://globalpilatesgijon.es/politica-de-privacidad/"
    style="position:fixed; top:40px; left:0px; bottom:0px; right:0px; width:100%; height:95%; border:none; margin:0; padding:0; overflow:hidden; z-index:999999;">
    <a
      href="https://globalpilatesgijon.es/politica-de-privacidad/">https://globalpilatesgijon.es/politica-de-privacidad/</a>
  </iframe> -->
  <iframe src="https://globalpilatesgijon.es/politica-de-privacidad/"
    style="top:10px; left:0px; bottom:0px; right:0px; width:100%; height:95%; border:none; margin:0; padding:0; overflow:hidden; z-index:999999;">
    <a href="https://globalpilatesgijon.es/politica-de-privacidad/"> Cargando contenido
      https://globalpilatesgijon.es/politica-de-privacidad/</a>
  </iframe>
  <ion-card-content class="ion-text-justify">
    <ion-text color="dark">
      <h1><strong> </strong></h1>
    </ion-text>
  </ion-card-content>
  <ion-button class="center" size="small" (click)="ClosePop()">Cerrar</ion-button>
</ion-list>