<ion-content>
  <ion-fab vertical="center" horizontal="end" slot="fixed" [routerLink]="['/home']"
    routerLinkActive="router-link-active">
    <ion-fab-button color="light">
      <strong>IR</strong>
      <ion-icon name="home"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-card class=" ion-float-right card-logo">
    <img src="../../assets/imagenes/logo.png">
  </ion-card>

  <ion-card class="card-transparente">
    <ion-card-header>
      <ion-card-subtitle>
        <ion-text color="light">
          <h2><strong>GRACIAS </strong> {{ nombresReg }}</h2>
        </ion-text>
      </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content class="ion-text-justify">
      <ion-text color="light">
        <p>Principalmente por su interés en nuestro Estudio. </p>
        <br>
        <p>Le enviaremos toda la información detalladamente al correo que nos ha indicado y le llamaremos por télefono
          lo antes posible. </p>
        <br>
        <p>Nuestro Centro está especializado en Pilates con máquinas, además de tener clases de Entrenamientos
          personales (funcional, TRX, etc…) y Clases en Plataforma vibratoria POWER PLATE.</p>
        <br>
        <p>
          Todas las clases que damos son personalizadas y adaptamos las clases a la necesidad de cada cliente.
        </p>
        <br>
        <p>
          Tenemos clases de Pilates {{ tarifa }}
        </p>
        <br>
        <p>
          No cobramos matricula, ni cuota de inscripción. Solamente cobramos las clases que se reciben.
        </p>
        <br>
        <p>
          En cuanto terminemos las clases le llamaremos por teléfono para explicarle nuestras cuotas  y reservar una
          cita en  nuestras instalaciones. </p>
        <br>
        <p>
          Un saludo. </p>
        <ion-chip outline color="light">
          <ion-icon name="logo-instagram"></ion-icon>
          <ion-label><strong>Instagram: globalpilatesgijon</strong></ion-label>
        </ion-chip>
        <ion-chip outline color="light">
          <ion-icon name="logo-facebook"></ion-icon>
          <ion-label><strong>Facebook: estudioglobalpilatesgijon</strong></ion-label>
        </ion-chip>
      </ion-text>
      <ion-chip outline color="light">
        <ion-icon name="globe"></ion-icon>
        <ion-label><strong>Web: globalpilatesgijon.es</strong></ion-label>
      </ion-chip>
    </ion-card-content>
  </ion-card>
</ion-content>